[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
environs = "*"
psycopg2-binary = "*"
coverage = "*"
flake8 = "*"
radon = "*"
flake8-polyfill = "*"
bandit = "*"
twine = "*"
m2r = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
social-auth-app-django = "*"
garpix-notify = "==5.17.0rc1"
garpix-utils = "==1.10.0rc24"
eqator = "==2.4.0"
sentry-sdk = "*"
garpix-package = "*"
drf-spectacular = "*"
django-phonenumber-field-for-garpix-user = "==8.0.1"
django-rest-framework-social-oauth2 = "==1.2.0"
django-phonenumber-field = "*"
typing-extensions = "==4.5.0"
"jaraco.context" = "==5.1.0"

[dev-packages]

[requires]
python_version = "3.8"
